/* Universal CSS */
@font-face {
    font-family: titleFont;
    src: url('../font/Roboto_Condensed/RobotoCondensed-Bold.ttf');
}
@font-face {
    font-family: bodyFont;
    src: url('../font/Poppins/Poppins-Regular.ttf');
}
body {
    font-family: bodyFont;
    height: 3000px;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
h1 {
    font-family: titleFont;
    font-weight: 700;
}
.site-color {
    color: #fd4766;
}
.content-title {
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 3px;
    background: linear-gradient(to right, rgb(5, 5, 241), rgb(243, 57, 88));
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    color: transparent;
    display: inline-block;
}
.banner-title {
    font-size: 50px;
}
.para {
    line-height: 1.6rem;
    margin: 20px 0px;
}
.btn {
    text-decoration: none;
    color: #fff;
    background-color: #fd4766;
    padding: 15px 30px;
    border: 2px solid #fd4766;
    border-radius: 50px;
    display: inline-block;
    transition: all 0.5s ease-in-out;
    text-transform: uppercase;
}
.btn:hover {
    background-color: transparent;
    border: 2px solid #fd4766;
    color: #333;
    transform: translateY(-10%);
}
.container {
    margin: 70px 100px;
}
.content-maintitle {
    font-size: 2.5rem;
}

/* Navbar  */
.navbar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px;
    position: fixed;
    left: 0;
    right: 0;
}
.navbar-bg {
    background-color: #2222221A;
    box-shadow: 2px 2px 10px gray;
}
.navbar-menu li {
    list-style: none;
    display: inline-block;
}
.navbar-logo, .navbar-menu a, .toggle {
    width: 120px;
    height: 40px;
    display: inline-block;
    text-align: center;
    line-height: 40px;
    text-transform: uppercase;
    text-decoration: none;
    color: #333;
}
.toggle {
    background-color: transparent;
    border: 0;
    display: none;
}
.navbar-logo img {
    width: 100%;
    height: 100%;
}
/* header */
header {
    width: 100%;
    height: 500px;
    background-image: url('../img/daniel-apodaca-wmbbbU0LUG8-unsplash-removebg-preview.png');
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
    background-attachment: fixed;
}
/* Banner */
.banner {
    position: relative;
    height: 100%;
}
.banner-content {
    position: absolute;
    width: 40%;
    top: 50%;
    left: 10%;
    transform: translateY(-70%);
}

/* About */
.about {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.about-img,
.about-content {
    width: 50%;
}
.about-content {
    padding: 3rem;
}
.about-img img {
    height: 600px;
    width: 100%;
    object-fit: cover;
}
.about-content-skill {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.about-content-skill-box {
    width: 45%;
    margin: 10px 0px;
}

/* Client */
.client {
    text-align: center;
}
.client-logo {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 50px 0px;
}
.client-logo .logo {
    width: 20%;    
    padding: 20px;
    transition: all 0.6s ease-in-out;
}
.client-logo .logo:hover {
    fill: #fd4766;
    /* transform: scale(1.1); */
    transform: rotate(360deg);
}

/* Project */
.project {
    text-align: center;
}
.project-card {
    width: 30%;
    height: 400px;
    position: relative;
    margin: 20px 0px;
}
.project-card-bg {
    position: absolute;
    width: 100%;
    height: 100%;
    transition: all 0.5s ease-in-out;
}
.project-card-bg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.project-card-text {
    text-align: center;
    position: absolute;
    width: 100%;
    bottom: 20px;
    color: #fff;
}
.project-card-text p {
    font-size: 14px;
}
.project-card-text h2 {
    font-family: titleFont;
    margin: 10px 0px;
}
.project-card-bg:hover {
    transform: scale(1.05);
}
.project-btn {
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 10px;
    display: inline-block;
}
.project-btn:hover {
    background-color: #fd4766;
}
.project-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 70px 0px;
}
.project-card-bg::after {
    content: "";
    border: 1px solid green;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(to top, #fd4766, transparent);
    opacity: 0;
    transition: all 0.5s ease-in-out;
}
.project-card-bg:hover:after {
    opacity: 1;
}


/* Contact */
.contact {
    display: flex;
    flex-wrap: wrap;
}
.contact-form,
.contact-img {
    width: 50%;
}
.contact-form {
    padding: 50px;
}
.form-input {
    width: 100%;
    padding: 10px;
    margin: 10px 0px;
    border: 1px solid gray;
    border-radius: 5px;
}
.form-input:focus {
    outline: 3px solid #fd4766;
    border: 1px solid transparent;
}
.contact-info:nth-of-type(1) {
    margin-top: 20px;
}
.contact-info:nth-of-type(2) {
    margin-bottom: 20px;
}
.form-btn {
    padding: 10px;
    background-color: #fd4766;
    color: #fff;
    border: 1px solid #fd4766;
    border-radius: 10px;
    transition: all 0.5s ease-in-out;
}
.form-btn:hover {
    background-color: transparent;
    color: #fd4766;
    transform: translateY(-10%);
}
.contact-img img {
    width: 100%;
    height: 700px;
    object-fit: cover;
}
.form-input::placeholder {
    font-family: bodyFont;
}
.contact-form span {
    font-weight: bold;
    background: linear-gradient(to right, rgb(5, 5, 241), rgb(243, 57, 88));
    background-size: 0px 3px;
    background-repeat: no-repeat;
    background-position: bottom left;
    transition: all 0.5s ease-in-out;
}
.contact-form span:hover {
    background-size: 100% 3px;
}

/* Talk */
.talk {
    background-color: #fd4766;
    padding: 100px 150px;
    text-align: center;
    color: #fff;
}
.talk-title {
    font-size: 3rem;
}
.talk-link {
    border: 1px solid #fff;
    padding: 20px;
    display: inline-block;
    font-size: 20px;
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
    border-radius: 50px;
    margin-top: 30px;
}
.talk-link:hover {
    background-color: #fff;
    color: #fd4766;
}

/* Footer */
footer {
    background-color: #222;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0px;
    color: white;
}
.footer-logo,
.footer-social,
.footer-info {
    width: 30%;
}
.footer-logo img,
.footer-social svg {
    width: 50px;
}
.footer-info {
    text-align: right;
}

.up {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    background-color: #eee;
    text-align: center;
    border-radius: 100%;
    display: none;
}
.up i {
    font-size: 30px;
    line-height: 50px;
}


/*************** Media Query *****************/
@media (max-width: 992px) {
    /* Navbar */
    .toggle {
        display: block;
    }
    .navbar-menu {
        display: none;
        width: 100%;
    }
    .navbar-menu li {
        display: block;
    }
    .navbar-menu a {
        width: 100%;
    }
    .toggle:hover + .navbar-menu {
        display: block;
    }
    .navbar-menu:hover {
        display: block;
    }
    /* header */
    header {
        background-image: none;
    }
    /* Banner */
    .banner-content {
        width: 80%;
        left: 50%;
        top: 10%;
        transform: translateX(-50%);
    }

    /* About */
    .about-img,
    .about-content {
        width: 100%;
    }
    .about-content-skill-box {
        width: 100%;
    }

    /* Client */
    .client-logo .logo {
        width: 40%;    
        padding: 20px;
    }

    /* Project */
    .project-card {
        width: 40%;
    }

    /* Contact */
    .contact-form,
    .contact-img {
        width: 100%;
    }
}
@media (max-width:768px) {
    /* project */
    .project-card{
        width: 90%;
    }
}